* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    overflow: hidden;
  
}

#page {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #E4E0DD;
}

@font-face {
    font-family: "a";
    src: url("./NoiGrotesk-Regular.ttf");
}

@font-face {
    font-family: "b";
    src: url("./UcCo3FwrK3iLTcviYwY.ttf");
}

canvas {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 9;
}

#page1{
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
    background-color: #E4E0DD;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    top: 3%;
    border-radius: 20px;
    height: 10vh;
    width: 37vw;
    background-color: #ffffff54;
    backdrop-filter: blur(10px);
    padding: 0px 5px;
}

#nav>img {
    width: 10%;
    margin-left: 10px;
}

#nav>button {
    padding: 20px 10px;
    border-radius: 10px;
    border: none;
    background-color: #ffcd6d;
    font-weight: 600;
}

#center-nav>a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-family: "b";
    margin-left:12px;
}

#page>h1 {
    font-size: 80px;
    position: absolute;
    z-index: 99;
    text-align: center;
    top: 38%;
    font-weight: 500;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "a";
}

#page>h4 {
    font-size: 30px;
    position: absolute;
    text-align: center;
    top: 60%;
    font-weight: 400;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    color: #565656;
    font-family: "a";
}

#page1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #E5E1DC;
    font-family: "a";
}

#page1>h1 {
    z-index: 99;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}

#page1>h4 {
    position: absolute;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    white-space: nowrap;
    color: #565656;
    z-index: 99;
    margin-top: 5vh;
}
 
#page2 {
    position: relative;
    /* z-index: 9; */
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#page3{
    position: relative;
    /* z-index: 9; */
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}

#page4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    text-align: center;
    background-color: #E4E0DD;
    font-family: "a";
}

#page4>h1 {
    font-weight: 600;
    font-size: 2.7vw;
}

#page4>h4 {
    margin-top: 20px;
    font-weight: 500;
    color: #646464;
    font-size: 1vw;
}


#page5 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    font-family: "a";
}
#center-page5{
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 75%;
    background-color: #F6F3EF;
}
#left-page5{
    height: 100%;
    width: 50%;
}
#left-page5>svg{
    scale:0.7;
}
#right-page5{
    display: flex;
    align-items: start;
    gap: 30px;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 60px;
}
#right-page5>h1{
    font-weight: 600;
}
#right-page5>h4{
    font-weight: 500;
    width: 70%;
    color: #96969685;
}
#right-page5>button{
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
}
#page6{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: "a";
}
.left-page6{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 10vw;
}
.left-page6>h1{
    font-size: 2.8vw;
    font-weight: 600;
}
.left-page6>h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
}
.right-page6{
    position: relative;
    height: 100%;
    width: 50%;
}
.right-page6>video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
}
#page7{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: "a";
}
.left-page7{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 10vw;
}
.left-page7>h1{
    font-size: 2.8vw;
    font-weight: 600;
}
.left-page7>h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
}
.right-page7{
    position: relative;
    height: 100%;
    width: 50%;
}
.right-page7>video{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
}
#page8{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: "a";
}
.left-page8{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    padding-left: 10vw;
}
.left-page8>h1{
    font-size: 2.8vw;
    font-weight: 600;
}
.left-page8>h4{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    width: 50%;
}
.right-page8{
    position: relative;
    height: 100%;
    width: 50%;
}
.right-page8>img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 70%;
    width: 70%;
}


#fill{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -100%;
    background-color: transparent;
    z-index: 9999;
    transition: all ease 0.8s;
    /* display: none; */
}

#uper{
    width: 100%;
    height: 90%;
    background-color: #f8f3f3;
    z-index: 9999;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 100px 20px;
}

#uper h1{
    font-family: "a";
    display: flex;
    padding: 10px 10px;
}

#menu{
    display: none;
}


@media (max-width : 600px) {
    #page>h1 {
        font-size: 53px;
        position: absolute;
        z-index: 99;
        text-align: center;
        top: 43%;
        font-weight: 500;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "a";
        width: 100%;
    }

    #menu{
        display: block;
        font-family: "a";
        font-family: 200;
    }
    
    #page>h4 {
        font-size: 18px;
        position: absolute;
        text-align: center;
        top: 65%;
        font-weight: 400;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        color: #565656;
        width: 80%;
        font-family: "a";
    }
    #page1>h1 {
        z-index: 99;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 55px;
    }
    #page1>h4 {
        position: absolute;
        left: 50%;
        top: 57%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        white-space: nowrap;
        color: #565656;
        z-index: 99;
    }
    #page4>h1 {
        font-weight: 600;
        font-size: 8.7vw;
    }
    #page4>h4 {
        margin-top: 20px;
        font-weight: 500;
        color: #646464;
        font-size: 4vw;
    }
    #center-page5 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        width: 90%;
        background-color: #F6F3EF;
    }
    #right-page5 {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 40px;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding-left: 60px;
    }
    #left-page5 {
        height: 100%;
        width: 100%;
    }
    #page5 {
        position: relative;
        height: 120vh;
        width: 100vw;
        background-color: #fff;
        font-family: "a";
        margin-top: 10vh;
    }
    #page6 {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        font-family: "a";
        margin-top: 15vh;
    }
    .left-page6>h1 {
        font-size: 8.7vw;
        font-weight: 600;
    }
    .left-page6 {
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding-left: 10vw;
    }
    .left-page6>h4 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
        width: 60vw;
    }
    .right-page6 {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .right-page6>video {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 90vh;
        width: 90vh;
        margin-top: 11vh;
    }
    #page7 {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
        width: 100vw;
        font-family: "a";
        margin-top: 20vh;
    }
    .left-page7>h4 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
        width: 65vw;
    }
    .right-page7 {
        position: relative;
        height: 100%;
        width: 100%;
    }
    .left-page7>h1 {
        font-size: 10.8vw;
        font-weight: 600;
    }
    .right-page7>video {
        position: absolute;
        left: 43%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 70vh;
        width: 80vh;
        margin-top: 11vh;
    }
    #page8 {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        margin-top: 15vh;
        font-family: "a";
    }
    .left-page8>h1 {
        font-size: 9.8vw;
        font-weight: 600;
    }
    .left-page8>h4 {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 500;
        width: 60vw;
    }
    .right-page8 {
        position: relative;
        height: 100%;
        width: 100%;
    }
    #nav #center-nav{
        display: none;
    }
    #nav button{
        display: none;
    }

    #nav{
        height: 8vh;
        width: 93vw;
        padding: 0px 20px;
    }
}